@model ServicoVM
@{
    ViewData["Title"] = "Serviços";
}

<section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="../img/breadcrumb-bg2.jpeg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <h1 class="tl"> Nossos <strong> SERVIÇOS</strong></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Início da seção de aulas -->
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Nossas Aulas</span>
                        <h2>OQUE PODEMOS OFERERCER</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var aula in Model.Aulas)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="class-item">
                            <div class="ci-pic">
                                <img src="@aula.Image" alt="">
                            </div>
                            <div class="ci-text">
                                <span>@aula.Name</span>
                                <h5>@aula.Description</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção Aulas -->

<section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>AUMENTE SEUS LIMITES</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                    <div class="ss-pic">
                        <img src="~/img/services/services-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Treinamento pessoal</h4>
                        <p>O treinamento pessoal na academia é guiado por um treinador fornecendo supervisão, motivação e ajustes 
                        regulares para atingir metas específicas de condicionamento físico.</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-3 col-md-6 p-0">
                    <div class="ss-pic">
                        <img src="~/img/services/services-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-4 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Aulas de ginástica em grupo</h4>
                        <p>Aulas de ginástica em grupo são motivadoras e adaptáveis, reunindo pessoas 
                        com objetivos comuns em um ambiente social e divertido.</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-8 col-md-6 p-0">
                    <div class="ss-pic">
                        <img src="~/img/services/services-4.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-7 col-md-6 p-0">
                    <div class="ss-text second-row">
                        <h4>Musculação</h4>
                        <p>Musculação fortalece músculos. Com pesos ou máquinas, melhora força e resistência.
                         Para todos, promove saúde e bem-estar.</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-6 col-md-6 p-0">
                    <div class="ss-pic">
                        <img src="~/img/services/services-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-5 col-md-6 p-0">
                    <div class="ss-text second-row">
                        <h4>Treinamento de força </h4>
                        <p>Treinamento de força fortalece músculos, usando pesos ou resistência. Melhora saúde óssea,
                        gestão de peso e bem-estar geral. Adaptável a diferentes níveis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Início da seção preços -->
<section class="pricing-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Nossos Planos</span>
                    <h2>Escolha seu plano de preços</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var plano in Model.Planos)
            {
            <div class="col-lg-4 col-md-8">
                <div class="ps-item">
                    <h3>@plano.Name</h3>
                    <div class="pi-price">
                        <h2>@plano.Price</h2>
                    </div>

                    <a href="https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0" 
                    class="primary-btn pricing-btn">INSCREVA-SE AGORA</a>
                </div>
            </div>
            }
        </div>
    </div>
</section>
<!-- Fim da Seção de Preços -->